<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Risque & Menace" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="position-relative  mb-4">
                    <div class="ratio ratio-21x9">
                        <img src="http://localhost:1919/user/image/{{actif.logo}}" alt="" class="avatar-lg">
                        <img src="http://localhost:1919/user/image/{{actif.logo}}" alt="" class="effect">
                    </div>
                 
                </div>
                <button type="button" class="btn btn-subtle-warning custom-toggle btn-icon btn-sm active float-end" data-bs-toggle="button" aria-pressed="true">
                    <span class="icon-on"><i class="bi bi-star"></i></span>
                    <span class="icon-off"><i class="bi bi-star-fill"></i></span>
                </button>
                <h4>{{actif.nom}}</h4>
                <ul class="list-unstyled hstack gap-2 flex-wrap mb-0">
                  
                    <li>
                        <i class="bi bi-box-seam align-baseline me-1"></i> 
                        <span class="badge bg-success-subtle text-success">{{actif.categorie.nom}}</span>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0 mx-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'description'" (click)="changeTab('description')" role="tab" aria-selected="true">
                            Risque
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" [class.active]="currentTab === 'videoTutorials'" (click)="changeTab('videoTutorials')" role="tab" aria-selected="false" tabindex="-1">
                            Vulnérabilité & Menace
                        </a>
                    </li>
                
                </ul>
            </div>
        </div><!--end card-->
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div [hidden]="currentTab !== 'description'" class="tab-pane active" id="description" role="tabpanel">
                            <h6 class="card-title mb-3">{{risque.nom}}</h6>
                            <ul class="list-unstyled vstack gap-2">
                              <li><i class="bi bi-caret-right"></i> Priorite : {{risque.priorite}}</li>
                              <li><i class="bi bi-caret-right"></i> Probabilite : {{risque.probabilite}}</li>
                              <li><i class="bi bi-caret-right"></i> Valeur financiere : {{risque.valeurFinanciere}}</li>
                              <li><i class="bi bi-caret-right"></i> Valeur de base impact : {{risque.valeurBaseImpact}}</li>
                            </ul>
                       
                    </div>
                    <div [hidden]="currentTab !== 'videoTutorials'" class="tab-pane active" id="videoTutorials" role="tabpanel">
                        <!-- START Accordions -->
                        <button class="btn btn-secondary" (click)="addVulnerabiliteModal.show()" ><i class="bi bi-plus align-baseline me-1"></i> Vulnerabilité</button>

                        <accordion class="accordion accordion-border-box  mt-3" [closeOthers]="true" id="accordionlefticon">
                            <accordion-group *ngFor="let vulnerabilite of vulnerabilites"class="accordion-item">
                                <h2 accordion-heading class="accordion-header" id="accordionlefticonExample1">
                                    <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_lefticonExamplecollapse1" aria-expanded="true" aria-controls="accor_lefticonExamplecollapse1">
                                        {{vulnerabilite.nom}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a class="text-success"  (click)="checkVulnerabilite(vulnerabilite.id)" ><i class="ph-plus align-baseline me-1"></i>Créer une menace</a>
                                    </button>
                                    <a href="javascript:void(0)" (click)="removeVulnerabilite(vulnerabilite.id)" class="badge bg-danger-subtle text-danger">
                                        <i class="ph-trash align-baseline"></i> 
                                     </a>
                                </h2>
                                <div id="accor_lefticonExamplecollapse1" class="accordion-collapse collapse show">
                                    <div *ngIf="vulnerabilite.menaces?.length > 0" class="accordion-body">
                                        <ul *ngFor="let menace of vulnerabilite.menaces"class="list-group list">
                                            <li class="list-group-item position-relative">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0 avatar-xs">
                                                        <div class="avatar-title rounded bg-danger-subtle text-danger">
                                                            <i class="bi bi-play"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-2">
                                                        <h6  class="stretched-link text-reset">{{menace.nom}}</h6> 
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <a href="javascript:void(0)" (click)="DeleteMenace()" class="badge bg-danger-subtle text-danger">
                                                            <i class="ph-trash align-baseline"></i> 
                                                         </a>
                                                  </div>
                                                </div>
                                            </li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </accordion-group>
                           
                        </accordion>
                        <!-- END Accordions -->
                    </div>
                 
                </div>
            </div>
        </div>
    </div><!--end col-->

</div><!--end row-->



<!-- Modal -->
<div bsModal #addVulnerabiliteModal="bs-modal" class="modal fade" id="addVulnerabilite">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header bg-danger p-3">
                <h5 class="modal-title text-white" id="addCourseModalLabel">Ajouter Vulnerabilité</h5>
                <button type="button" class="btn-close btn-close-white" (click)="addVulnerabiliteModal.hide()"></button>
            </div>

            <form (ngSubmit)="saveVulnerabilite()" [formGroup]="vulnerabiliteForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">

                    <input type="hidden" id="rating-field">
                    

                    <div class="mb-3">
                        <label for="actif-nom-input" class="form-label"> Vulnerabilite nom<span class="text-danger">*</span></label>
                        <input type="text" id="course-title-input" formControlName="nom" class="form-control" placeholder="Enter vulnerabilité nom" required>
                        <div *ngIf="vulnerabiliteForm.get('nom')?.hasError('required') && vulnerabiliteForm.get('nom')?.touched" class="text-danger">
                            vulnerabilité nom is required.
                           </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="addVulnerabiliteModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Ajouter Vulnerabilité</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end add Property modal-->
<!-- removeItemModal -->
<div bsModal #removeItemModal="bs-modal" id="removeItemModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="removeItemModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4 fs-base">
                        <h4 class="mb-1">Êtes-vous sûr ?</h4>
                        <p class="text-muted mx-4 mb-0">Êtes-vous sûr de vouloir supprimer cet avis ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeItemModal.hide()">Fermer</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-product" (click)="DeleteMenace()">Oui, supprimez-le !</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #removeVulnerabiliteModal="bs-modal" id="removeVulnerabilite" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="removeVulnerabiliteModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4 fs-base">
                        <h4 class="mb-1">Êtes-vous sûr ?</h4>
                        <p class="text-muted mx-4 mb-0">Êtes-vous sûr de vouloir supprimer cette vulnérabilité ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="removeVulnerabiliteModal.hide()">Fermer</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-product" (click)="DeleteVulnerabilite()">Oui, supprimez-la !</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div bsModal #addMenaceModal="bs-modal" class="modal fade" id="addMenace">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header bg-danger p-3">
                <h5 class="modal-title text-white" id="addCourseModalLabel">Ajouter Menace</h5>
                <button type="button" class="btn-close btn-close-white" (click)="addMenaceModal.hide()"></button>
            </div>

            <form (ngSubmit)="saveMenace()" [formGroup]="menaceForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">

                    <input type="hidden" id="rating-field">
                    

                    <div class="mb-3">
                        <label for="actif-nom-input" class="form-label"> Menace nom<span class="text-danger">*</span></label>
                        <input type="text" id="course-title-input" formControlName="nom" class="form-control" placeholder="Enter menace nom" required>
                        <div *ngIf="menaceForm.get('nom')?.hasError('required') && menaceForm.get('nom')?.touched" class="text-danger">
                            menace nom is required.
                           </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="addMenaceModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Ajouter Menace</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end add Property modal-->