<div class="row">
    <div class="col-xl-4">
        <div class="card card-height-100 border-0 overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <!-- Total Users -->
              <div class="col-md-6">
                <div class="card shadow-none border-end-md border-bottom rounded-0 mb-0">
                  <div class="card-body">
                    <div class="avatar-sm">
                      <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-3">
                        <i class="ph-users-three"></i>
                      </span>
                    </div>
                    <div class="mt-4">
                      <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Total Users</p>
                      <h4 class="fw-semibold mb-3">
                        <span class="counter-value">{{ totalUsers }}</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Total Projects -->
              <div class="col-md-6">
                <div class="card shadow-none border-bottom rounded-0 mb-0">
                  <div class="card-body">
                    <div class="avatar-sm">
                      <span class="avatar-title bg-dark-subtle text-dark rounded-circle fs-3">
                        <i class="ph-bag"></i>
                      </span>
                    </div>
                    <div class="mt-4">
                      <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Total Projects</p>
                      <h4 class="fw-semibold mb-3">
                        <span class="counter-value">{{ totalProjects }}</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Total Actifs -->
              <div class="col-md-6">
                <div class="card shadow-none border-top border-top-md-0 rounded-0 mb-0">
                  <div class="card-body">
                    <div class="avatar-sm">
                      <span class="avatar-title bg-info-subtle text-info rounded-circle fs-3">
                        <i class="ph-wallet"></i>
                      </span>
                    </div>
                    <div class="mt-4">
                      <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Total Actifs</p>
                      <h4 class="fw-semibold mb-3">
                        <span class="counter-value">{{ totalActifs }}</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <div class="col-xl-8">
        <div class="card">
            <div class="row g-0">
                <div class="col-xl-9">
                    <div class="card-header border-0 align-items-center d-flex">
                       <h4 class="card-title mb-0 flex-grow-1">Risque de chaque actif</h4> 
                    </div><!-- end card header -->
                    <div class="card-body ps-0">
                        <div class="w-100">
                            <div style="display: block">
                                <div echarts [options]="chartOptions" class="echart-container" style="height: 400px;"></div>

                              </div>
                        </div>
                    </div><!-- end card body -->
                </div>
                
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
</div><!--end row-->



<div class="row">
    <div class="col-lg-8">
        <div class="card" id="contactList">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Répartition des Statuts des Projets</h4>
          
            </div>
            <div class="card-body">
                <div echarts [options]="chartOptionsProject" class="chart"></div>

            </div>
        </div>
    </div><!--end col-->
   
</div><!--end row-->

